<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Группы</title>
</head>
<body>
    <h1>Список группы</h1>
    <table border="1">
        <tr>
            <th>ID_group</th>
            <th>titleGroup</th>
            <th>ID_teacher</th>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group[0] }}</td>
            <td>{{ group[1] }}</td>
            <td>{{ group[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">На главную</a>
</body>
</html>
