<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Группы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1>Список групп</h1>
    <a href="/groups/add">Добавить группу</a>
    <a href="/">На главную</a>
    <table border="1">
        <tr>
            <th>ID_group</th>
            <th>titleGroup</th>
            <th>ID_teacher</th>
            <th>Действия</th>
        </tr>
        {% for group in Group %}
        <tr>
            <td>{{ group.ID_group }}</td>
            <td>{{ group.titleGroup }}</td>
            <td>{{ group.ID_teacher }}</td>
            <td>
                <a href="{{ url_for('edit_group', ID_group=group.ID_group) }}">Редактировать</a>
                <form method="POST" action="{{ url_for('delete_group', ID_group=group.ID_group) }}" style="display:inline;">
                    <input type="submit" value="Удалить" onclick="return confirm('Вы уверены, что хотите удалить эту группу?');">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
   
</body>
</html>
