<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предметы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1>Список предметов</h1>
    <a href="subjects/add">Добавить предмет</a>
    <a href="/">На главную</a>
    <table border="1">
        <tr>
            <th>ID_subjects</th>
            <th>title</th>
            <th>Действия</th>
            
        </tr>
        {% for subject in Subject %}
        <tr>
            <td>{{ subject.ID_subject }}</td>
            <td>{{ subject.title}}</td>
            <td>
                <a href="{{ url_for('edit_subject', ID_subject=subject.ID_subject) }}">Редактировать</a>
                <form method="POST" action="{{ url_for('delete_subject', ID_subject=subject.ID_subject) }}" style="display:inline;">
                    <input type="submit" value="Удалить" onclick="return confirm('Вы уверены, что хотите удалить этот предмет?');">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
