<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать преподавателя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1>Редактировать студента</h1>
    <form method="POST">
        <label>ID предмета:</label><br>
        <input type="text" name="ID_subject" value="{{ Teacher.ID_subject }}" required><br>
        <label>Имя:</label><br>
        <input type="text" name="name" value="{{ Teacher.name }}" required><br>
        <label>Фамилия:</label><br>
        <input type="text" name="surname" value="{{ Teacher.surname }}" required><br>
        <label>Email:</label><br>
        <input type="email" name="email" value="{{ Teacher.email }}" required><br>
        <input type="submit"class="btn btn-primary" value="Сохранить">
    </form>
    <form method="POST" action="{{ url_for('delete_teacher', ID_teacher=Teacher.ID_teacher) }}">
        <input type="submit" value="Удалить" onclick="return confirm('Вы уверены, что хотите удалить этого преподавателя?');">
    </form>
    <a href="/teachers" class="btn btn-secondary">На главную</a>
</body>
</html>
