<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать курс</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1>Редактировать курс</h1>
    <form method="POST">
        <label>ID Курса:</label><br>
        <input type="number" name="ID_kurs" value="{{ Kurses.ID_kurs }}" required><br>
        <label>ID предмета</label><br>
        <input type="number" name="ID_subject" value="{{ Kurses.ID_subject }}" required><br>
        <label>ID преподавателя</label><br>
        <input type="number" name="ID_teacher" value="{{ Kurses.ID_teacher}}" required><br>
        <label>Название курса:</label><br>
        <input type="text" name="title" value="{{ Kurses.title}}" required><br>
        <label>Продолжительность:</label><br>
        <input type="number" name="time" value="{{ Kurses.time }}" required><br>
        <label>Стоимость:</label><br>
        <input type="number" name="cost" value="{{ Kurses.cost }}" required><br>
        <label>Дата начала:</label><br>
        <input type="data" name="dateStart" value="{{ Kurses.dateStart }}" required><br>
        <input type="submit" value="Сохранить" class="btn btn-primary">
    </form>
    <form method="POST" action="{{ url_for('delete_kur', ID_kurs=Kurses.ID_kurs) }}">
        <input type="submit" value="Удалить" onclick="return confirm('Вы уверены, что хотите удалить этого студента?');">
    </form>
    <a href="/kurses" class="btn btn-secondary">На главную</a>
</body>
</html>
